DATABASE_URL="postgresql://postgres:postgres@localhost:5432/medora?schema=public"
PORT=3001

JWT_ACCESS_SECRET=change_me_access
JWT_REFRESH_SECRET=change_me_refresh
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=14d
TOKEN_ISSUER=medora-s

